*{
}

label{
display:block;
margin-bottom:8px;
font-weight:700;
color:#ffd86b;
}

select,
textarea{
width:100%;
padding:16px;
border:none;
border-radius:12px;
background:#720000;
color:white;
font-size:16px;
outline:none;
}

textarea{
min-height:140px;
resize:vertical;
}

button{
width:100%;
padding:16px;
border:none;
border-radius:12px;
margin-top:12px;
cursor:pointer;
font-size:16px;
font-weight:700;
transition:.3s;
background:linear-gradient(to bottom,#ffd86b,#ff9800);
color:#550000;
}

button:hover{
transform:scale(1.02);
}

#shareLink{
margin-top:20px;
text-align:center;
word-break:break-word;
}

#shareLink a{
color:#ffd86b;
font-weight:700;
}

.gold-theme{
box-shadow:0 0 35px rgba(255,215,0,.35);
}

.dark-theme{
filter:grayscale(.25) contrast(1.1);
}

.cyber-theme{
filter:hue-rotate(180deg) saturate(1.4);
}

@media(max-width:1300px){
.preview{
zoom:.75;
}
}

@media(max-width:1000px){
.preview{
zoom:.55;
}
}

@media(max-width:700px){
.preview{
zoom:.42;
}
}